flows (2).json
[
    {
        "id": "557221cea683d586",
        "type": "tab",
        "label": "Whats",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bfd46cc1ebaa68a",
        "type": "inject",
        "z": "557221cea683d586",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"messaging_product\":\"whatsapp\",\"to\":\"555132390553\",\"type\":\"text\",\"text\":{\"body\":\"Teste via Node-RED\"}}",
        "payloadType": "json",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "e8d33474f70d8387"
            ]
        ]
    },
    {
        "id": "e8d33474f70d8387",
        "type": "function",
        "z": "557221cea683d586",
        "name": "function 21",
        "func": "msg.headers = {\n    \"Authorization\": \"Bearer \" + global.get(\"WA_TOKEN\"),\n    \"Content-Type\": \"application/json\"\n};\n\n// monta a URL usando o PHONE_ID global\nmsg.url = \"https://graph.facebook.com/v19.0/\" + global.get(\"PHONE_ID\") + \"/messages\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 60,
        "wires": [
            [
                "2e2935844550f448"
            ]
        ]
    },
    {
        "id": "2e2935844550f448",
        "type": "http request",
        "z": "557221cea683d586",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 60,
        "wires": [
            [
                "897424ed29c58f4a"
            ]
        ]
    },
    {
        "id": "897424ed29c58f4a",
        "type": "debug",
        "z": "557221cea683d586",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ca58a7573fb932a",
        "type": "http in",
        "z": "557221cea683d586",
        "name": "Webhook POST",
        "url": "/webhook-whatsapp",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 740,
        "wires": [
            [
                "b2b9708632961faf",
                "4c9a3add3ec2e269"
            ]
        ]
    },
    {
        "id": "b2b9708632961faf",
        "type": "function",
        "z": "557221cea683d586",
        "name": "Responder 200 imediato",
        "func": "msg.statusCode = 200;\nmsg.payload = \"EVENT_RECEIVED\";\nreturn msg;",
        "outputs": 1,
        "x": 610,
        "y": 700,
        "wires": [
            [
                "8611bbdfdf444ffc"
            ]
        ]
    },
    {
        "id": "8611bbdfdf444ffc",
        "type": "http response",
        "z": "557221cea683d586",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "4c9a3add3ec2e269",
        "type": "link out",
        "z": "557221cea683d586",
        "name": "Enviar para processamento",
        "mode": "link",
        "links": [
            "8f32266db497cc40"
        ],
        "x": 590,
        "y": 780,
        "wires": []
    },
    {
        "id": "8f32266db497cc40",
        "type": "link in",
        "z": "557221cea683d586",
        "name": "Receber processamento",
        "links": [
            "4c9a3add3ec2e269"
        ],
        "x": 360,
        "y": 860,
        "wires": [
            [
                "69c2a188776a8386",
                "4bae75597e35bbab"
            ]
        ]
    },
    {
        "id": "69c2a188776a8386",
        "type": "debug",
        "z": "557221cea683d586",
        "name": "DEBUG RAW",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 580,
        "y": 840,
        "wires": []
    },
    {
        "id": "4bae75597e35bbab",
        "type": "function",
        "z": "557221cea683d586",
        "name": "Processar mensagem",
        "func": "try {\n    let data = msg.payload;\n\n    if (!data.entry) return null;\n\n    let msgRecebida = data.entry[0].changes[0].value.messages?.[0];\n\n    if (!msgRecebida) return null;\n\n    let comando = \"\";\n\n    if (msgRecebida.type === \"text\") {\n        comando = msgRecebida.text.body;\n    }\n\n    if (msgRecebida.type === \"interactive\" && msgRecebida.interactive?.button_reply) {\n        comando = msgRecebida.interactive.button_reply.id;\n    }\n\n    node.warn(\"Comando: \" + comando);\n\n    if (comando !== \"\") {\n        global.set(\"ultimo_comando\", comando);\n    }\n\n    return null;\n\n} catch (e) {\n    node.error(\"Erro ao processar\", e);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "684190cfdd20923c",
        "type": "comment",
        "z": "557221cea683d586",
        "name": "Celular",
        "info": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "2574ae76fdb0e625",
        "type": "comment",
        "z": "557221cea683d586",
        "name": "Whats Business",
        "info": "",
        "x": 240,
        "y": 220,
        "wires": []
    },
    {
        "id": "3fa12cd805039c07",
        "type": "inject",
        "z": "557221cea683d586",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"messaging_product\":\"whatsapp\",\"to\":\"555132390553\",\"type\":\"interactive\",\"interactive\":{\"type\":\"button\",\"body\":{\"text\":\"Escolha uma opção:\"},\"action\":{\"buttons\":[{\"type\":\"reply\",\"reply\":{\"id\":\"mantem\",\"title\":\"1 - Mantém\"}},{\"type\":\"reply\",\"reply\":{\"id\":\"desabilita\",\"title\":\"2 - Desabilita\"}},{\"type\":\"reply\",\"reply\":{\"id\":\"seguranca\",\"title\":\"3 - Liga Segurança\"}}]}}}",
        "payloadType": "json",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "e8d33474f70d8387"
            ]
        ]
    },
    {
        "id": "b8de9763ba30fb22",
        "type": "http in",
        "z": "557221cea683d586",
        "name": "",
        "url": "/esp32-comando",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "a5da3b0638d2ba85"
            ]
        ]
    },
    {
        "id": "a5da3b0638d2ba85",
        "type": "function",
        "z": "557221cea683d586",
        "name": "function 19",
        "func": "if (msg.req.headers['x-api-key'] !== global.get(\"API_KEY\")) {\n    msg.statusCode = 403;\n    msg.payload = \"Acesso negado\";\n\n    // responde erro e NÃO continua fluxo\n    return [msg, null];\n}\n\n// OK → responde 200 e continua\n\nlet resp = {\n    statusCode: 200,\n    payload: \"OK\"\n};\n\nreturn [resp, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "059994b45b617744",
                "a23dd25fdede77bc"
            ],
            [
                "e8d33474f70d8387"
            ]
        ]
    },
    {
        "id": "059994b45b617744",
        "type": "http response",
        "z": "557221cea683d586",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "a23dd25fdede77bc",
        "type": "debug",
        "z": "557221cea683d586",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "fb7929953fe63928",
        "type": "http in",
        "z": "557221cea683d586",
        "name": "",
        "url": "/get-comando",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "e17b2b122c140722"
            ]
        ]
    },
    {
        "id": "e17b2b122c140722",
        "type": "function",
        "z": "557221cea683d586",
        "name": "function 20",
        "func": "// 🔐 valida senha\nif (msg.req.headers['x-api-key'] !== global.get(\"API_KEY\")) {\n    msg.statusCode = 403;\n    msg.payload = \"Acesso negado\";\n    return msg;\n}\n\n// pega comando salvo\nlet cmd = global.get(\"ultimo_comando\") || \"\";\n\n// monta resposta\nmsg.statusCode = 200;\nmsg.payload = {\n    comando: cmd\n};\n\n// limpa depois de enviar (evita repetir)\nif (cmd !== \"\") {\n    global.set(\"ultimo_comando\", \"\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "71ee8cad8f3b6f7e"
            ]
        ]
    },
    {
        "id": "71ee8cad8f3b6f7e",
        "type": "http response",
        "z": "557221cea683d586",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 580,
        "wires": []
    }
]